[run]
source = src/ai_research_framework
branch = True
parallel = True
omit = 
    */tests/*
    */test_*.py
    */__pycache__/*
    */venv/*
    */.venv/*
    */migrations/*
    */config.py
    */__init__.py

[report]
precision = 2
show_missing = True
skip_covered = False
skip_empty = True

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    
    # Ignore pass statements
    pass
    
    # Ignore ellipsis
    \.\.\.

[html]
directory = htmlcov

[xml]
output = coverage.xml
